@font-face {
  font-family: 'IBM-Plex', 'Playfair';
  src: url(../fontes/IBMPlexMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Playfair';
  src: url(../fontes/PlayfairDisplaySC-Regular.ttf) format('truetype');
}

body,
h1,
h2,
ul,
li,
dd,
dt,
dl,
p {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

#linkExterno {
  padding: 6.5px;
  margin-right: 10px;
  display: block;
  color: #222;
  text-decoration: none;
  font-family: 'IBM-Plex', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}

.linksInternos {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: 'IBM-Plex', monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: 'Playfair', Georgia, 'Times New Roman', Times, serif;
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-family: 'IBM-Plex', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  color: #fb5;
}
.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
  background: #faf6ed;
}

.animais-lista li {
  cursor: pointer;
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.grid-section.FAQ {
  grid-column: 1 / 4;
  width: 100%;
  box-sizing: border-box;
  padding-left: 0px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.FAQ-lista {
  grid-column: 1 / 4;
  margin-left: 5rem;
}

.FAQ-lista dt {
  font-family: 'IBM-Plex', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.FAQ-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.FAQ-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.FAQ .titulo {
  grid-column: 1 / 1;
}

.mapa {
  grid-column: 2;
}


.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background: #fb5;
}

.copy p {
  padding: 20px;
  font-family: 'IBM-Plex', monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr 43px minmax(300px, 800px) 1fr;
  }
  .menu .grid-section .copy {
    grid-column: 1;
  }
  .grid-section {
    padding: 20px;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }

  .grid-section.FAQ {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .grid-section.FAQ h1 {
    margin-bottom: 0px;
  }

  .grid-section.animais {
    margin-bottom: 30px;
    padding-bottom: 0px;
  }

  .grid-section.contato {
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-left: 16px;
  }

  .animais-lista {
    grid-column: 1;
  }

  .animais-descricao {
    width: 200px;
    grid-column: 2 / 4;
  }

  .FAQ-lista {
    margin: 0px;
    width: 300px;
    grid-column: 1 / 4;
  }

  .grid-section h1 {
    font-size: 3rem;
  }
  .menu {
    margin-top: 0px;
    grid-column: 1 / 4;
    width: auto;
  }

  .menu ul {
    flex-wrap: wrap;
  }

  .linksInternos {
    display: block;
    padding: 5.5px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: 'IBM-Plex', monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 0.1em;
  }

  .mapa {
    grid-column: 1 / 4;
    width: 315px;
  }

  .dados li {
    display: flex;
    height: 21px;
    margin-bottom: 8px;
  }

  .dados {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5px;
  }

  .dados li::before {
    margin-top: 4px;
  }

  .copy {
    grid-column: 1 /  4;
    margin-bottom: 0px;
  }

  .copy p {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.js-tabcontent section {
  display: none;
}

.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  transform: translate3d(-30px, 0, 0);
  animation: show 0.5s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: '⮟';
  margin-left: 10px;
}

.js-accordion dt.ativo::after {
  content: '⮝';
  margin-left: 10px;
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

.js .js-scroll {
  opacity: 0;
  transition: .3s ease;
  transform: translate3d(-30px, 0, 0);
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}